@font-face {
  font-display: swap;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/IBMPlex/IBM-Plex-Sans-KR-Thin.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/IBMPlex/IBM-Plex-Sans-KR-ExtraLight.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/IBMPlex/IBM-Plex-Sans-KR-Light.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/IBMPlex/IBM-Plex-Sans-KR-Regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 450;
  src: url('../fonts/IBMPlex/IBM-Plex-Sans-KR-Text.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/IBMPlex/IBM-Plex-Sans-KR-Medium.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/IBMPlex/IBM-Plex-Sans-KR-SemiBold.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/IBMPlex/IBM-Plex-Sans-KR-Bold.woff') format('woff');
}